.about-section{
    margin-top: 2rem;
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.pic-about{
    margin-top: 2rem;
    display: flex;
   flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.about{
    color: white;
    display: flex;
    flex-direction: column;

    
}

.programing{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.programing-section{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.programing-section:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.div1{
    width: 250px;
    height: 5px;
    background: linear-gradient(267deg,#f47c0b 0.36%,#b923e1 102.06%);;
    border-radius: 50px;
}
.div2{
     width: 300px;
    height: 5px;
    background: linear-gradient(267deg,#f47c0b 0.36%,#b923e1 102.06%);;
    border-radius: 50px;
}
.div3{
     width: 400px;
    height: 5px;
    background: linear-gradient(267deg,#f47c0b 0.36%,#b923e1 102.06%);;
    border-radius: 50px;
}
.div4{
    width: 500px;
    height: 5px;
    background: linear-gradient(267deg,#f47c0b 0.36%,#b923e1 102.06%);;
    border-radius: 50px;
}
.graph{
    display: flex;
    
    flex-direction: column;
    gap: 23px;
}
.skill-container{
      
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
     
}
.skill{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 240px;
    height: 100px;
    border: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
}
.skill:hover{
    transform: scale(1.10);
    transition: 0.5s;
}
.skill-light{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 240px;
    height: 100px;
    border: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}
.skill-light:hover{
    transform: scale(1.10);
    transition: 0.5s;
}
.tools-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.tools-section{
     display: flex;
     flex-direction: row;
     gap: 10px;
}
.tool{
     border: 1px solid white;
    border-radius: 5px;
   width: 20px;
   height: 20px;
   padding: 5px;
}
.tool:hover{
    background-color: white;
}
.tool-light{
     border: 1px solid black;
    border-radius: 5px;
   width: 20px;
   height: 20px;
   padding: 5px;
}
.tool-light:hover{
    background-color: black;
}
@media (max-width:380px) {
    
    .about{
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pic-about{
    margin-top: 2rem;
    display: flex;
   flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.picture{
    width: 100px;
    height: 100px;
}
.div1{
     width: 100px;
    height: 5px;
    background:  linear-gradient(267deg,#f47c0b 0.36%,#b923e1 102.06%); ;
    border-radius: 50px;
}
.div2{
     width: 120px;
    height: 5px;
    background:  linear-gradient(267deg,#f47c0b 0.36%,#b923e1 102.06%); ;
    border-radius: 50px;
}
.div3{
    width: 150px;
    height: 5px;
    background:  linear-gradient(267deg,#f47c0b 0.36%,#b923e1 102.06%); ;
    border-radius: 50px;
}
.div4{
    width: 170px;
    height: 5px;
    background:  linear-gradient(267deg,#f47c0b 0.36%,#b923e1 102.06%); ;
    border-radius: 50px;
}
  .skill-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .skill:hover{
    transform: scale(1.12);
    transition: 0.5s;
}
.tool{
     border: 1px solid white;
    border-radius: 5px;
   width: 20px;
   height: 20px;
   padding: 5px;
}
.about-pera{
    display: flex;
      flex-direction: column;
    align-items: center;
    
}
.tool:hover{
    background-color: white;
}
}